Changelog.txt
dbghelp.dll
dxrender9.dll
Ex Machina & Ex Machina Demo.7z
fmod.dll
game.pdb
gsmed.log
hs_err_pid3524.log
hta.exe
hta.exe.Backup
input_di8.dll
mfc71.dll
mfc71u.dll
msvcp71.dll
msvcr71.dll
protect.xml
ReadMe.txt
sound.dll
sound.pdb
start.bat
TME eng.exe
TME rus.exe
